<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Serra da Leba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-card class="welcome-card">
      <ion-img src="/assets/leba.jpg"></ion-img>
      
      
    </ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo a Serra da Leba</ion-card-title>
      <ion-card-subtitle>Lubango</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
   A Serra da Leba é uma formação montanhosa na província da Huíla, em Angola.
Localizada perto da cidade do Lubango, a Serra da Leba é famosa pela altitude, pela sua beleza e também pela estrada que a serpenteia.
  </ion-card-content>

</ion-content>
