<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bem Vindo  ao Roteiro turistico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-card class="welcome-card">
      <ion-img src="/assets/fenda.jpg"></ion-img>
      
      
    </ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo a Fenda da Tundavala</ion-card-title>
      <ion-card-subtitle>Lubango</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
    A Fenda da Tundavala é um enorme abismo de cerca de 1200 m situado na Serra da Leba, a 18 km do Lubango, na província da Huíla, em Angola.
    É nos penhascos da Tundavala que termina o Planalto Central de Angola. Aqui o planalto excede 2200 metros de altitude e cai abruptamente para cerca de 1000 metros de altitude, provocando um desnível deslumbrante com fendas colossais na montanha. Daqui se desfruta uma paisagem magnífica que se estende por dezenas de quilómetros.
    O fenómeno natural deu o nome ao Estádio Nacional da Tundavala, no Lubango, que acolheu os jogos do grupo D do Campeonato Africano das Nações de 2010 onde jogaram as selecções dos Camarões, Gabão, Tunísia e Zâmbia.
  </ion-card-content>

</ion-content>
