<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bem Vindo  ao Roteiro turistico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-card class="welcome-card">
      <ion-img src="/assets/fenda.jpg"></ion-img>
      
      
    </ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo ao Cabo-Ledo</ion-card-title>
      <ion-card-subtitle>Luanda</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
    O Cabo Ledo é uma larga enseada situada na província de Luanda, em pleno Parque Nacional da Quissama, em Angola.
A 120 km a sul da cidade de Luanda, a amplidão das praias de águas límpidas do Cabo Ledo, a beleza das imensas falésias no entorno de uma extensa faixa de areia branca tornam este um local deslumbrante, também propício à prática da pesca e do surf.
O Cabo Ledo possui, também, um inestimável valor histórico, pois em 1648 aqui desembarcou a frota que, vinda do Brasil, recuperou Angola para o domínio português, após sete anos sob dominação holandesa.
  </ion-card-content>

</ion-content>
