<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bem Vindo  ao Roteiro turistico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <!----ion-card class="welcome-card">
      <ion-img src="/assets/angola.jpg"></ion-img>
      
      
    </ion-card-->
    <ion-card>
    <ion-slides pager>

      <ion-slide>

        <ion-img src="/assets/fenda.jpg"></ion-img>
        
      </ion-slide>
    
      <ion-slide>
        <ion-img src="/assets/caboledo.jpg"></ion-img>
        
      </ion-slide>
    
      <ion-slide>
        <ion-img src="/assets/leba.jpg"><h2>Serra da Leba</h2></ion-img>
        
      </ion-slide>
    
    </ion-slides>
    <ion-card-subtitle color="primary">
        Angola, oficialmente República de Angola, é um país da costa ocidental da África, cujo território principal é limitado a norte e a nordeste pela República Democrática do Congo, a leste pela Zâmbia, a sul pela Namíbia e a oeste pelo Oceano Atlântico. Inclui também o exclave de Cabinda, através do qual faz fronteira com a República do Congo, a norte. Para além dos vizinhos já mencionados, Angola é o país mais próximo da colónia britânica de Santa Helena.
        Neste Aplicativo iremos mostrar alguns pontos turisticos de Angola.

    </ion-card-subtitle>

  </ion-card>

    <!----ion-button slot="" class="botao1">
Edson
    </ion-button-->

    <ion-card>
        <ion-img src="/assets/gif.gif"></ion-img>
    </ion-card>
    
    
   
</ion-content>
<ion-footer>
  <ion-toolbar>
   
    <ion-text class="texto"> © Edson Chicale - 150695</ion-text>
  </ion-toolbar>
</ion-footer>
